<script>

    $(function() {
        $("#usuario_senha_confirmation").blur(function() {
            var usuario_senha = $("#usuario_senha").val();
            var usuario_senha_confimation = $("#usuario_senha_confirmation").val();
            if (usuario_senha != usuario_senha_confimation || usuario_senha == "" || usuario_senha_confimation == "") {
                alert("As senhas são diferentes. Digie o mesmo valor nos dois campos.");
                $("#usuario_senha").val("");
                $("#usuario_senha_confirmation").val("");
            }
        });

        $("#enviar").click(function(event) {
            var usuario_senha_confirmation = $("#usuario_senha_confirmation").val();
            if (usuario_senha_confirmation == "") {
                alert("Confirme a senha");
                $("#usuario_senha").val("")
                $("#usuario_senha_confirmation").val("");
                event.preventDefault();
            }
        });

        $("form").submit(function(event) {
            var usuario_senha = $("#usuario_senha").val();
            var usuario_senha_confimation = $("#usuario_senha_confirmation").val();
            if (usuario_senha != usuario_senha_confimation || usuario_senha == "" || usuario_senha_confimation == "") {
                $("#usuario_senha_confirmation").val("");
                event.preventDefault();
                alert("As senhas são diferentes. Digie o mesmo valor nos dois campos.");
            }
        });
    });


</script>



<h1> Recuperação de senha </h1>
<div id="reset">
  <br>

  <%= form_for @usuario, :url => senha_reset_path(params[:id]) do |f| %>
      <div class="field">
        <%= f.label "Digite a senha" %>
        <%= f.password_field :senha %>
      </div>

      <div class="field">
        <%= f.label :senha_confirmation, "Confirme a senha" %>
        <%= f.password_field :senha_confirmation %>
      </div>
      <br><br>
      <div class="actions"> <%= f.submit "Enviar", :id => "enviar" %></div>
  <% end %>
</div>