<h1> Recuperação de senha</h1>
<div is="s_reset">
  <%= form_for @usuario, :url => senha_reset_path(params[:id]) do |f| %>
      <div class="field">
        <%= f.label "Digie a senha" %>
        <%= f.password_field :senha %>
      </div>

      <div class="field">
        <%= f.label :senha_confirmation, "Confirme a senha" %>
        <%= f.password_field :senha_confirmation %>
      </div>
      <br><br>
      <div class="actions"> <%= f.submit "Enviar" %></div>
  <% end %>
</div>