<script>
  $(function() {
      $("#usuario_senha_confirmation").blur(function() {
          var usuario_senha = $("#usuario_senha").val();
          var usuario_senha_confirmation = $("#usuario_senha_confirmation").val();
          if (usuario_senha != usuario_senha_confirmation || usuario.senha == "" || usuario_senha_confirmation == "") {
              alert("As senhas são diferentes. Digite o mesmo valor nos dois campos.");
              $("#usuario_senha").val("");
              $("#usuario_senha_confirmation").val("");
              $("#usuario.senha").focus();
          }
      });

     $("#enviar").click(function(event)  {
         var usuario_senha_confirmation = $("#usuario_senha_confirmation").val();
         if (usuario_senha_confirmation == "") {
             alert("Confirme a senha");
             $("#usuario_senha_confirmation").val("");
             event.preventDefault();
         }
     });

      $("form").submit(function(event) {
          var usuario_senha = $("#usuario_senha").val();
          var usuario_senha_confimation = $("#usuario_senha_confirmation").val();
          if (usuario_senha != usuario_senha_confimation || usuario_senha == "" || usuario_senha_confimation == "") {
              $("#usuario_senha_confirmation").val("");
              event.preventDefault();
              alert("As senhas são diferentes. Digie o mesmo valor nos dois campos.");
          }
      });
  });
</script>




<%= form_for(@usuario) do |f| %>
  <% if @usuario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@usuario.errors.count, "erro(s)") %> impediu(ram) este usuário de ser salvo:</h2>

      <ul>
      <% @usuario.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome, 'Nome' %><br />
    <%= f.text_field :nome %>
  </div>
  <div class="field">
    <%= f.label :email, 'E-mail'  %><br />
    <%= f.text_field :email %>
  </div>

  <div class="actions">
    <%= f.submit "Enviar", :id =>  "enviar" %>
  </div>
<% end %>
