<!DOCTYPE html>
<html>
<head>
  <title>Biosseguranca</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<p id="notice"> <%= notice %> </p>

<%= link_to "Laboratórios", laboratorios_path %>
<% if session[:perfil].include? "Administrador" %>
    <%= link_to "Usuários", usuarios_path %>
    <%= link_to "Logs", logs_path %>
    <%= link_to "Perfis", perfils_path %>
    <%= link_to "Permissões", permitidos_path %>
<% end %>
<%= link_to 'Logout', logout_path  %>


<%= yield %>



</body>
</html>
